<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>{% block title %}Di &amp; Du{% endblock %}</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    {% block custom_css %}{% endblock %}
    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    {% block custom_js %}{% endblock %}
</head>

<body>
<div class="container">
    <header id="site-header">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="logo">
                    <h1><a href="{% url 'index' %}"><b>Di</b> &amp; Du</a></h1>
                </div>
            </div><!-- col-md-4 -->
            <div class="col-md-8 col-sm-4 col-xs-8">
                <nav class="main-nav" role="navigation">
                    <div class="navbar-header">
                        <button type="button" id="trigger-overlay" class="navbar-toggle">
                            <span class="ion-navicon"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="cl-effect-11"><a href="{% url 'index' %}" data-hover="首页">首页</a></li>
                            <li class="cl-effect-11"><a href="{% url 'blog' %}" data-hover="博客">博客</a></li>
                            <li class="cl-effect-11"><a href="{% url 'about' %}" data-hover="关于">关于</a></li>
                            <li class="cl-effect-11"><a href="{% url 'contact' %}" data-hover="联系">联系</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if request.user.is_authenticated %}
                                <li class="cl-effect-11"><a href="{% url 'login' %}" data-hover="{{ request.user.nick_name }}">{{ request.user.nick_name }}</a></li>
                            {% else %}
                                <li class="cl-effect-11"><a href="{% url 'login' %}" data-hover="登陆">登陆</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
                <div id="header-search-box">
                    <a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
                    <div id="search-form" class="search-form">
                        <form role="search" method="get" id="searchform" action="#">
                            <input type="search" placeholder="搜索" required>
                            <button type="submit"><span class="ion-ios-search-strong"></span></button>
                        </form>
                    </div>
                </div>
            </div><!-- col-md-4 -->
        </div>
    </header>
</div>

<div class="content-body">
    <div class="container">
        <div class="row">

            {% block content %}
            {% endblock %}

            {% block  right%}
            <aside class="col-md-4">
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最热文章</h3>
                    <ul>
                        {% for hot in hot_post %}
                            <li>
                                <a href="{% url 'article' hot.id %}">{{ hot.titel }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="widget widget-archives">
                    <h3 class="widget-title">归档</h3>
                    <ul>
                        {% for time in archiving %}
                            <li>
                                <a href="{% url 'index' %}?year={{ time.year }}&month={{ time.month }}">{{ time.year }} 年 {{ time.month }} 月</a>
                            </li>
                        {% empty %}
                            <li>
                                <a href="#">无</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-category">
                    <h3 class="widget-title">分类</h3>
                    <ul>
                        {% for categroty in categroty_sum  %}
                            <li>
                                <a href="{% url 'index' %}?categroty={{ categroty.category__text }}">{{ categroty.category__text }} <span class="post-count">({{ categroty.count }})</span></a>
                            </li>
                        {% empty %}
                            <li>
                                <a href="#">无</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in all_tag %}
                            <li>
                                <a href="{% url 'index' %}?tag={{ tag.text }}">{{ tag.text }}</a>
                            </li>
                        {% empty %}
                            <li>
                                <a href="#">无</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </aside>
            {% endblock %}

        </div>
    </div>
</div>
<footer id="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="copyright"><a href="{% url 'index' %}" >&copy; 2018 DiDu的博客</a></p>
            </div>
        </div>
    </div>
</footer>

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'login' %}" data-hover="{{ request.user.nick_name }}">{{ request.user.nick_name }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}" data-hover="登陆">登陆</a></li>
            {% endif %}
            <li><a href="{% url 'index' %}">首页</a></li>
            <li><a href="{% url 'blog' %}">博客</a></li>
            <li><a href="{% url 'about' %}">关于</a></li>
            <li><a href="{% url 'contact' %}">联系</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
