{% extends 'blog-base.html' %}
{% block title %}Di &amp; Du-首页{% endblock %}
{% block content %}
    <main class="col-md-8">
                <!-- 文章列表 -->
                {% for post in all_post %}
                <article class="post post-1">
                    <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'article' post.id %}">{{ post.titel }}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="{% url 'article' post.id %}">{{ post.category }}</a></span>
                            <span class="post-date"><a href="{% url 'article' post.id %}">{{ post.created_time|date:"Y-m-d H:i" }}</a></span>
                            <span class="post-author"><a href="{% url 'article' post.id %}">{{ post.user }}</a></span>
                            <span class="comments-link"><a href="{% url 'article' post.id %}">{{ post.comments_num }} 评论</a></span>
                            <span class="views-count"><a href="{% url 'article' post.id %}">{{ post.views }} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{ post.excerpt }}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'article' post.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
                </article>
                {% endfor %}

                <!-- 简单分页效果 -->
                <div class="pagination-simple">
                    {% if all_post.has_previous %}
                        <a href="?page={{ all_post.previous_page_number }}">上一页</a>
                    {% endif %}

                    <span class="current">第 {{ all_post.number }} 页 / 共 {{ all_post.paginator.num_pages }} 页</span>

                    {% if all_post.has_next %}
                        <a href="?page={{ all_post.next_page_number }}">下一页</a>
                    {% endif %}
                </div>
                <!--
                <div class="pagination">
                    <ul>
                        <li><a href="">1</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li class="current"><a href="">6</a></li>
                        <li><a href="">7</a></li>
                        <li><a href="">8</a></li>
                        <li><a href="">...</a></li>
                        <li><a href="">11</a></li>
                    </ul>
                </div> -->
            </main>
{% endblock %}